In [1]:
import pandas as pd
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
irisdata = pd.read_csv("iris.csv", names=names)

In [2]:
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# dropping the first row since its same as column labels
irisdata=irisdata.drop([0])
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [4]:
# Assign data from first four columns to X variable
X = irisdata.iloc[:, 0:4]
X.head()

   sepal-length  sepal-width  petal-length  petal-width
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [5]:
# Assign data from fifth column to y variable
y = irisdata['Class']
y.head()

1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: Class, dtype: object

In [6]:
y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
# label encoding
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2]

In [8]:
#splitting the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [9]:
# Scaling the data as per normal distribution
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
#defining the MLP classifier and its parameters
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(activation='relu',hidden_layer_sizes=(8, 5), max_iter=1000,random_state=42,epsilon=0.00001)
mlp.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-05,
              hidden_layer_sizes=(8, 5), learning_rate='constant',
              learning_rate_init=0.001, max_iter=1000, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=42, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [11]:
predictions = mlp.predict(X_test)

In [12]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[11  0  0]
 [ 0  8  0]
 [ 0  1 10]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.89      1.00      0.94         8
           2       1.00      0.91      0.95        11

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

In [13]:
# printing hyperparameters
print("Activation function :",mlp.activation)
print("Learning Rate :",mlp.epsilon)
print("Epochs :",mlp.max_iter)
print("Model Weights :",mlp.coefs_)

Activation function : relu
Learning Rate : 1e-05
Epochs : 1000
Model Weights : [array([[-0.43102844,  0.63671502,  0.76370805,  0.29488844, -0.40037599,
        -0.75595689, -0.93418003,  0.78773873],
       [ 0.33430376, -0.63046771, -0.60788272,  0.44367386,  0.47448918,
         0.05403015, -0.04569337, -0.67994801],
       [-0.54008772,  0.89086055,  0.26559055, -0.08598344,  0.13298031,
        -0.8706028 , -0.68591654, -0.42312466],
       [-0.32578626,  1.22052106, -0.04279379,  0.23215209,  0.05673406,
        -1.00417307, -0.24308555, -0.63761932]]), array([[-0.79998228, -0.02619495, -0.60633786,  0.53294721,  0.14035825],
       [ 0.84883762, -0.97327706, -0.06468182,  0.73876967, -0.83390135],
       [ 1.12381392,  0.86417464,  0.4964119 ,  0.73840711, -0.08183627],
       [ 0.46593437,  0.47153243, -0.54143582, -0.79289296,  0.04535178],
       [-0.28641485, -0.28688041,  0.4279259 , -0.18636562, -0.01916491],
       [-0.16696624, -0.16191841,  0.39334692, -0.68494166,  1.03548232],
       [ 0.18926092,  0.14090361, -0.74332669,  0.24499496,  0.69584557],
       [ 0.67578114,  1.12602935, -0.66293621, -0.79111356, -0.77874647]]), array([[-0.51426526,  0.26444014,  0.80522696],
       [ 0.10664377,  0.87106422, -1.70758975],
       [ 0.32342707,  0.3963702 ,  0.15919547],
       [ 0.10107872, -0.70788106,  1.31463669],
       [ 0.28580134, -1.33884376, -0.98970268]])]