In [14]:
import pandas as pd
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
irisdata = pd.read_csv("iris.csv", names=names)

In [15]:
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [16]:
# dropping the first row since its same as column labels
irisdata=irisdata.drop([0])
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [17]:
# Assign data from first four columns to X variable
X = irisdata.iloc[:, 0:4]
X.head()

   sepal-length  sepal-width  petal-length  petal-width
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [18]:
# Assign data from fifth column to y variable
y = irisdata['Class']
y.head()

1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: Class, dtype: object

In [19]:
y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [20]:
# label encoding
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2]

In [21]:
#splitting the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [22]:
# Scaling the data as per normal distribution
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [23]:
#defining the MLP classifier and its parameters
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(activation='relu',hidden_layer_sizes=(8, 5), max_iter=1000,random_state=42,epsilon=0.00001)
mlp.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-05,
              hidden_layer_sizes=(8, 5), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=1000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=42, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [24]:
predictions = mlp.predict(X_test)

In [25]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[11  0  0]
 [ 0  8  0]
 [ 0  1 10]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.89      1.00      0.94         8
           2       1.00      0.91      0.95        11

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

In [13]:
# printing hyperparameters
print("Activation functions :",mlp.activation)
print("Learning Rate :",mlp.epsilon)
print("Epochs :",mlp.max_iter)
print("Model Weights :",mlp.coefs_)

Activation functions : relu
Learning Rate : 1e-05
Epochs : 1000
Model Weights : [array([[-0.44621795,  0.61672133,  0.78750883,  0.30089999, -0.69584658,
        -0.74534419, -0.87532277,  0.80379188],
       [ 0.31261722, -0.65913158, -0.39665953,  0.55322075,  0.58864692,
         0.06194551,  0.02295555, -0.69206766],
       [-0.5424065 ,  0.97141049,  0.21749466, -0.11703355, -0.33107479,
        -0.85922571, -0.68507517, -0.4632224 ],
       [-0.32455571,  1.29216707, -0.06975217,  0.21130726, -0.37292025,
        -0.99061583, -0.25738753, -0.62638449]]), array([[-0.79181825, -0.06029933, -0.60466388,  0.53152751,  0.14242449],
       [ 0.88999945, -1.05927619, -0.05437334,  0.78021831, -1.01970997],
       [ 1.07777449,  0.90921851,  0.50664129,  0.64815159, -0.0208612 ],
       [ 0.47387923,  0.61238855, -0.53119436, -0.92048232,  0.04360598],
       [-0.31510165, -0.80095395,  0.42677816, -0.18585777,  0.15182038],
       [-0.15764238, -0.15521079,  0.44029926, -0.69696465,  1.02110186],
       [ 0.16678619,  0.29167962, -0.73726474,  0.08857297,  0.66955344],
       [ 0.65972648,  1.14355046, -0.67120423, -0.83973751, -0.78518527]]), array([[-0.53077143,  0.21216243,  0.80650369],
       [ 0.04160305,  1.03120539, -1.78447053],
       [ 0.32259042,  0.40068096,  0.15631603],
       [ 0.1680194 , -0.70891945,  1.25752347],
       [ 0.26882621, -1.30720374, -0.99023952]])]